<app-navbar
  (searchEvent)="onSearch($event)"
  (navigateResult)="onNavigateResult($event)"
  [currentResultIndex]="currentResultIndex"
  [totalResults]="totalResults"
></app-navbar>
<main class="personal-container animate-in">

<main #mainContent>
<!----------------------------------------------------------introduccion-------------------------------------------------------------------- -->
<section id="introduccion" class="section" #introduccionSection>
  <div class="texto-introduccion">

    <!-- Saludo -->
    <h3>{{ getTranslation('hello') }}</h3>

    <!-- Nombre o animación de texto -->
    <h1>
      <span class="wrap">{{ displayText }}</span>
    </h1>

    <!-- Título profesional -->
    <h2>{{ getTranslation('jobTitle') }}</h2>

    <!-- Descripción breve -->
    <p class="descripcion-pequeña">{{ getTranslation('description') }}</p>

    <!-- Botones -->
    <div class="botones-intro">
      <button class="btn btn-elegante" (click)="cambiarComponente()">
        {{ getTranslation('moreAbout') }}
      </button>
      <a href="/CV_I_DAVID.pdf" download class="btn btn-descargar">
        {{ getTranslation('downloadCV') }}
      </a>
    </div>
  </div>

  <!-- Columna derecha con imagen y logos -->
  <div class="columna-derecha">
    <div class="image-container">
      <img src="/imagenfinal.png" alt="Perfil" />
    </div>
    <div class="logos-container">
      <a href="https://www.linkedin.com/in/david-quintana-657066347/" target="_blank" rel="noopener noreferrer" class="logo-link">
        <img src="/in.png" alt="LinkedIn" class="logo-circle" />
      </a>

      <a href="https://github.com/kinz1000" target="_blank" rel="noopener noreferrer" class="logo-link">
        <img src="/github.png" alt="GitHub" class="logo-circle" />
      </a>
    </div>
  </div>

  <!-- Scroll hacia abajo -->
  <div class="scroll-downs">
    <div class="mousey">
      <div class="scroller"></div>
    </div>
  </div>
</section>

<!------------------------------------------------------------trayectoria----------------------------------------------------------------------------------------- -->
<!------------------------------------------------------------trayectoria----------------------------------------------------------------------------------------- -->

<section id="trayectoria" class="section section-dark">

  <!-- The Timeline -->

  <ul class="timeline">
    <h3 class="col-title">{{ getTranslation('studies') }}</h3>

    <li>
      <div class="direction-r">
        <div class="flag-wrapper">
          <span class="flag">{{ getTranslation('bachillerato') }}</span>
          <span class="time-wrapper"><span class="time">2020 - 2022</span></span>
        </div>
        <div class="desc">{{ getTranslation('bachilleratoDesc') }}</div>
        <div class="btn-certificado">
          <a href="certificados/bachillerato.pdf" download class="cert-btn">
            📄 {{ getTranslation('downloadCertificate') }}
          </a>
        </div>
      </div>
    </li>

    <li>
      <div class="direction-l">
        <div class="flag-wrapper">
          <span class="flag">{{ getTranslation('gradoSuperior') }}</span>
          <span class="time-wrapper"><span class="time">2022 - 2024</span></span>
        </div>
        <div class="desc">{{ getTranslation('gradoSuperiorDesc') }}</div>
        <div class="btn-certificado">
          <a href="certificados/bachillerato.pdf" download class="cert-btn">
            📄 {{ getTranslation('downloadCertificate') }}
          </a>
        </div>
      </div>
    </li>

    <li>
      <div class="direction-r">
        <div class="flag-wrapper">
          <span class="flag">{{ getTranslation('cursoPython') }}</span>
     <span class="time-wrapper">
  <span class="time">2024 - {{ getTranslation('present') }}</span>
</span>
        </div>
        <div class="desc">{{ getTranslation('cursoPythonDesc') }}</div>
      </div>
    </li>

  </ul>

  <!---------------------------------------------------------------------------------------------------------------- -->

  <ul class="timeline">

    <h3 class="col-title-ex">{{ getTranslation('workExperience') }}</h3>

    <!-- Item 1 -->
    <li>
      <div class="direction-r">
        <div class="flag-wrapper">
          <span class="flag">{{ getTranslation('alten') }}</span>
          <span class="time-wrapper"> <span class="time">{{ getTranslation('monthSept') }} - {{ getTranslation('monthDec') }} 2024</span></span>
        </div>
        <div class="desc">{{ getTranslation('altenDesc') }}</div>
      </div>
    </li>

    <li>
      <div class="direction-l">
        <div class="flag-wrapper">
          <span class="flag">{{ getTranslation('indra') }}</span>
        <span class="time-wrapper">
  <span class="time">2025 - {{ getTranslation('present') }}</span>
</span>
        </div>
        <div class="desc">{{ getTranslation('indraDesc') }}</div>
      </div>
    </li>

    <div class="direction-r">
      <div class="flag-wrapper">
        <br>
      </div>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
    </div>

  </ul>
</section>

<!------------------------------------------------------------------stack------------------------------------------------------------------------------------------------- -->
<section id="stack" class="section">
  <br>
  <br>
  <h1 class="stack-title">STACK</h1>
  
  <!-- Texto explicativo debajo del título -->
<p class="stack-description">
  {{ getTranslation('stackDescription') }}
</p>
  <!--<div class="vertical-line"></div>-->
  <div class="stack-columns">
    <!-- COLUMNA IZQUIERDA -->
    <div class="stack-column">
      <!-- Círculo fijo con texto -->
      <div class="static-circle" >Skills</div>

      <!-- Círculos animados -->
      <ul
        #containerStackLeft
        class="container-stack"
        (click)="rotateCircles('left')"
      >
        <li
          class="wrap-stack"
          *ngFor="let item of circleArrayLeft; let i = index"
          #wrapElLeft
          [ngClass]="item.class"
          [title]="item.name"
        >
          <a>
            <span class="icon__name">{{ item.name }}</span>
          </a>
        </li>
      </ul>
    </div>

    <!-- COLUMNA DERECHA -->
    <div class="stack-column">
      <!-- Círculo fijo con texto -->
      <div class="static-circle">Tools</div>

      <!-- Círculos animados -->
      <ul
        #containerStackRight
        class="container-stack"
        (click)="rotateCircles('right')"
      >
        <li
          class="wrap-stack"
          *ngFor="let item of circleArrayRight; let i = index"
          #wrapElRight
          [ngClass]="item.class"
          [title]="item.name"
        >
          <a><span class="icon__name">{{ item.name }}</span></a>
        </li>
      </ul>
    </div>
  </div>
</section>
<!-----------------------------------------------------------proyectos----------------------------------------------------------------------------------------------------------- -->
<section id="proyectos" class="section section-dark">
 
  <h2>Proyectos</h2>



 <div class="proyectos-container">
   
  <div *ngFor="let proyecto of proyectos; let i = index" class="project-card">

    <!-- Imagen a la izquierda -->
    <div class="hero-image">
      <img [src]="activeImages[i]" [class.fade]="fadeImages[i]" />
    </div>

    <!-- Slider de posts -->
    <div class="blog-slider swiper blog-slider-{{i}}">
      <div class="swiper-wrapper">
        <div class="blog-slider__item swiper-slide" *ngFor="let post of proyecto.posts">
          
          <div class="blog-slider__content">
    <br>
            <span class="blog-slider__code">{{ post.date }}</span>
            <div class="blog-slider__title">{{ post.title }}</div>
         <div class="blog-slider__text" [innerHTML]="post.text"></div>
         <div *ngIf="post.buttonText" class="icon-container">
  <a *ngFor="let icon of post.icons" [href]="icon.url" target="_blank" class="icon-circle">
    <img [src]="icon.img" alt="icon" />
  </a>  
</div> 
          </div>
         
        </div>
      </div>

      <div class="blog-slider__pagination swiper-pagination blog-slider-pagination-{{i}}"></div>

      <div class="custom-progress">
        <div class="bar" *ngFor="let post of proyecto.posts; let j = index"
             [class.active]="currentSlides[i] === j"></div>
      </div>
    </div>

  </div>
</div>
</section>
<!----------------------------------contactame-------------------------------------------------------------------------------------------------------------- -->
<section id="contactame" class="sectionV2">

  <div class="contact-container">
    <div class="contact-info">
      <h3>{{ getTranslation('contactMe') }}</h3>
      <hr class="underline-blue" />
     <h2 [innerHTML]="getTranslation('contactHeader')"></h2>
      <p>{{ getTranslation('contactDescription') }}</p>

      <div class="contact-item">
        <span class="icon">📞</span>
        <span class="text">{{ getTranslation('phoneNumber') }}</span>
      </div>

      <div class="contact-item">
        <span class="icon">✉️</span>
        <span class="text">{{ getTranslation('emailAddress') }}</span>
      </div>
    </div>
    <!-- DERECHA: Formulario -->
    <div class="form-container">
      <div class="status-light" [ngClass]="statusLightClass"></div>

      <form [formGroup]="contactForm" (ngSubmit)="onSubmit()" novalidate>
        <h2>{{ getTranslation('contactFormTitle') }}</h2>

        <div class="flex-row">
          <div class="form-group name-field">
            <label for="name">{{ getTranslation('labelName') }}</label>
            <input id="name" formControlName="name" type="text" placeholder="{{ getTranslation('placeholderName') }}" />
            <small>
              {{ contactForm.get('name')?.touched && contactForm.get('name')?.invalid ? getTranslation('errorNameRequired') : '' }}
            </small>
          </div>

          <div class="form-group email-field">
            <label for="email">{{ getTranslation('labelEmail') }}</label>
            <input id="email" formControlName="email" type="email" placeholder="{{ getTranslation('placeholderEmail') }}" />
            <small>
              {{ contactForm.get('email')?.touched && contactForm.get('email')?.invalid ? getTranslation('errorEmailInvalid') : '' }}
            </small>
          </div>
        </div>

        <div class="form-group">
          <label for="title">{{ getTranslation('labelTitle') }}</label>
          <input id="title" formControlName="title" type="text" placeholder="{{ getTranslation('placeholderTitle') }}" />
          <small>
            {{ contactForm.get('title')?.touched && contactForm.get('title')?.invalid ? getTranslation('errorTitleRequired') : '' }}
          </small>
        </div>

        <div class="form-group">
          <label for="message">{{ getTranslation('labelMessage') }}</label>
          <textarea id="message" formControlName="message" rows="6" placeholder="{{ getTranslation('placeholderMessage') }}"></textarea>
          <small>
            {{ contactForm.get('message')?.touched && contactForm.get('message')?.invalid ? getTranslation('errorMessageRequired') : '' }}
          </small>
        </div>

        <button type="submit" [disabled]="contactForm.invalid">{{ getTranslation('sendButton') }}</button>
        <p *ngIf="errorMessage" class="error">{{ errorMessage }}</p>
      </form>
    </div>

  </div>
  <p class="signature-phrase">{{ getTranslation('signaturePhrase') }}</p>
</section>

</main>
</main>